*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor{
    width: 95%;
    max-width: 10000px;
    margin: 20px auto;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
}
.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background-color: aqua;
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
}

.contenedor .contenido{
    grid-column-start: 1;
    grid-column-end: 4;
}

.contenedor .sidebar{
    background-color: rgb(66, 165, 23);
    color: white;
    grid-column-start: 4;
    grid-column-end: 5;
}


/*##################################  Nada del grid  ##########################################*/


/* Globales */




.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
.headerVision{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    width: 90%;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.942);
    line-height: 2;
    border:1px solid rgb(194, 190, 190);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}

/*-----------Botones Admin--------*/
.botonesAdmin{
    display: fixed;
    height: 35px;
    align-items: center;
    text-align: center;
}
.btnbtn{
    height: 100%;
    border-radius: 8px;
    font-size: 20px;
    width: 43%;
    color: whitesmoke;
    background-color: black;
}
.btnbtn:hover{
    font-size: 22px;
}

.botonesAdminAñadir{
    display: flex;
    height: 40px;
    width: 16%;
    align-items: center;
    text-align: center;
}
.btnbtnAñadir{
    height: 100%;
    border-radius: 8px;
    font-size: 20px;
    width: 43%;
    color: whitesmoke;
    background-color: black;
}
.fontpedidos{
    background-color: red;
    padding: 10px;
}